.App {
  text-align: center;
}
h1{
  text-align: center;
  top:50%;
  transform: translate(-2%,-1800%);
}

th,table,td {
  border:1px solid black;
}
table{
  border-collapse: collapse;
  margin-left: 30px;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fplanet%2520earth&psig=AOvVaw0y2t-7UiMKf-kBgTng8rzt&ust=1678880173297000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCMjvypSq2_0CFQAAAAAdAAAAABAR");
}
th,td{
  padding:15px;
  text-align: center;
}
.home{
  text-align: center;
  top:50%;
  transform: translate(95%,60%);
}
.homeimg{
  /* background-image:url("https://th.bing.com/th/id/OIP.ensiLtlsMoQxpqIoO-IyYgHaEo?pid=ImgDet&rs=1"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.select{
  margin-right: 30px;
}
.search{
   margin-right: 30px;
   position: relative;
   display: inline-block;
    background-color: #ffffff;
     border: double #000709;
}
.searchCountry{
  margin-right: 30px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: double #000709;
}
